.imposter {
    height: 120px;
    width: 100px;
    border-radius: 12px;
    margin: 10px;
    overflow: hidden; 
    position: relative;
}
.imposter > * {
    transition: all 0.2s ease-in-out;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    user-select: none;
}
.imposter:hover > * {
    opacity: 1.0;
    font-size: 30px;
}
.imposter:hover > .nothing {
    height: 30%;
}
.imposter:hover > .q-mark {
    width: 50%;
    height: 70%;
}
.imposter:hover > .x-mark {
    width: 50%;
    height: 70%;
}
.imposter:hover > *:hover {
    z-index: 2;
    box-shadow: 0 0 10px #440088;
}
.nothing {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.q-mark {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: greenyellow;
}
.x-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: red;
}
.not-imposter {
    height: 120px;
    width: 100px;
    border-radius: 12px;
    margin: 10px;
    background: #8C44D3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.image {
    height: 45px;
    width: 45px;
}