.header-wrapper {
    background-color: #f5f5f5;
    border-bottom-color: #D3D3D3;
    border-bottom-width: 0.2px;
    border-bottom-style: solid;
}
.title {
    height: 24px;
}
.instruction-button {
    color: #5D22A1;
    font-size: 16px;
}
.submit-button {
    background-color:#5D22A1;
    border-radius: 5px;
    color: #FFFFFF;
    border-style: none;
    margin: 0 auto;
    display: block;
    padding: 0 30px;
}
.submit-button:hover {
    background-color: #8c44d3;
}
.submit-button:focus {
    background-color: #5D22A1;
}