.header-wrapper {
    background-color: #f5f5f5;
    border-bottom-color: #D3D3D3;
    border-bottom-width: 0.2px;
    border-bottom-style: solid;
}
.title {
    color: #440088;
    font-size: 32px;
}
.instruction-button {
    color: #440088;
    font-size: 16px;
}